@import '@/styles/variables.scss';

.pagination {
  display: flex;
  margin-top: 32px;
  gap: 8px;
  justify-content: space-between;
  width: 100%;

  @include lg {
    margin-top: 16px;
  }


  &__btn {
    cursor: pointer;

    padding: 16px;
    border-radius: 12px;
    background-color: $grey5;

    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: $light;
    transition: .3s ease;
    text-align: center;
    @include letterMore;

    &:active,
    &:hover,
    &.active {
      background-color: $grey4;
    }

    &:disabled {
      cursor: auto;

      &:active,
      &:hover,
      &.active {
        background-color: $grey5;
      }
    }

    @include lg {
      flex: 1 1 43px;

      // flex: unset;
      &_dots {
        // flex: 1 1 43px;
      }
    }

    @include media(390px) {
      padding: 16px 11px;
      // flex: unset;

      &_dots {
        // flex: 1 1 43px;
      }
    }

    &_prev,
    &_next {
      // min-width: 135px;
      flex: 1 1 135px;

      @include lg {
        // flex: unset;
      }
    }

  }
}