@import '@/styles/variables.scss';

.pagination {
  display: flex;
  margin-top: 32px;
  gap: 8px;
  justify-content: space-between;

  &__btn {
    font-family: var(--font-inter);
    padding: 16px;
    border-radius: 12px;
    background-color: $grey5;

    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
    color: $light;
    transition: .3s ease;

    &:active,
    &:hover, &.active {
      background-color: $grey4;
    }

    @include lg {
      padding: 8px 12px;
    }

    &:first-child, &:last-child {
      flex: 1 1 auto;
    }

  }
}