@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Urbanist';
}

body {
  background-color: $dark;
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

ul {
  list-style: none;
} 
