$dark: #121212;
$light: #ffffff;
$grey1: #DADADA;
$grey0: #F0F0F0;
$grey2: #787878;
$grey3: #414141;
$grey4: #2A2A2A;
$grey5: #1B1B1B;
$primary: #30E6FF;

@mixin xlMidle {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin xlUp {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin lgMiddle {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin mb {
  @media (max-width: 468px) {
    @content;
  }
}

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

@mixin bigText {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @include lg {
    font-size: 17px;
    line-height: 24px;
  }
}

@mixin tagText {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

@mixin subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;

  @include lg {
    font-size: 17px;
    line-height: 24px;
  }
}


@mixin title {
  font-weight: 500;
  font-size: 64px;
  line-height: 72px;

  @include lg {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin transitionOPacity {
  transition: .3s ease;

  &:hover,
  &:active {
    opacity: .7;
  }
}

@mixin letter {
  letter-spacing: 0.03em;
}
@mixin letterMore {
  letter-spacing: 0.05em;
}