@import './../../variables.scss';

.container {
  max-width: 848px; 


  .vacancies__title {
    padding-top: 32px;
    @include bigText;
    color: $light;
    margin: 0 auto 24px;

    @include lg {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .vacancies__tag {
    margin-bottom: 24px;
    display: flex;
  }
  .vacancies {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 96px;

    @include lg {
      margin-bottom: 56px;
      gap: 16px;
    }
  }

}