@import '@/styles/variables.scss';

.skeleton_list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: 880px; 
  padding-bottom: 96px;

  @include lg {
    padding-bottom: 56px;
  }

  @include lg {
    gap: 24px;
  }
}