@import '@/styles/variables.scss';

.postJob {

  min-height: calc(100% - 96px - 128px);

  @include lg {
  min-height: calc(100% - 80px - 282px);

  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    padding: 64px 0;
    @include title;
    color: $light;
    text-align: center;

    
    @include lg {
      padding: 32px 0;
      text-align: left;
    }
  }
  &__success {
    max-width: 848px;
    margin: 0 auto;

    @include lg {
      max-width: 288px;
      margin: 0;
    }
  }

  &__block {
    max-width: 628px;
    margin: 0 auto 96px;

    @include lg {
      margin-bottom: 56px;
    }

  }

  &__desc {
    @include text;
    @include letterMore;
    color: $light;
    margin-bottom: 56px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 56px;

    &_btn {
      padding: 12px 24px 12px 24px;
      border-radius: 1000px;
      background-color: $light;
      width: 100%;
      text-align: center;
      @include text;
      @include letterMore;
      @include transitionOPacity;

      @include lg {
        margin-top: -24px;
      }
    }
  }
}

.input__block {
  @include text;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_label {
    @include letterMore;
    color: $light;
  }

  &_input {
    font-family: inherit;
    @include text;
    @include letterMore;

    padding: 16px;
    border-radius: 16px;
    border: 1px solid $grey4;
    background-color: $dark;
    transition: .3s ease;
    width: 100%;
    outline: none;
    color: $light;

    &::placeholder {
      color: $grey3;
    }

    &:hover {
      border-color: $light;
    }

    &:active {
      border-color: $primary;
    }

    &:focus-visible {
      border-color: $primary;
    }

    &.error {
      border-color: $disruptive;
    }

    &.textarea {
      min-height: 536px;

      @include lg {
        min-height: 560px;
      }
    }
  }

  &_error {
    color: $disruptive;
    @include letterMore
  }

}