@import './../../variables.scss';

.follow {
  border-radius: 16px;
  padding: 32px;
  background-color: $light;
  width: 100%;
  max-width: 848px;
  margin: 0 auto;

  @include lg {
    padding: 24px;
  }

  &__block {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include lg {
      max-width: 500px;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__desc {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $dark;
    max-width: 500px;
    @include letter;
  }
  
  &.dark {
    background-color: $grey5;

    .follow__desc {
      color: $grey1;
    }
  }


  &__socials {
    display: flex;
    gap: 16px;


    @include lg {
      align-self: flex-start;
      gap: 8px;
    }

    a {
      @include transitionOPacity;

      img {
        @include lg {
          width: 40px;
          height: 40px;
          border-radius: 8px;
        }
      }
    }
  }
}