@import '@/styles/variables.scss';

.container {
  max-width: 880px; 
  padding-bottom: 96px;

  @include lg {
    padding-bottom: 56px;
  }

  .vacancies__title {
    padding-top: 32px;
    @include bigText;
    color: $light;
    margin: 0 auto 24px;
    @include letter;

    @include lg {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .vacancies__tag {
    margin-bottom: 24px;
    display: flex;

    @include lg {
      align-items: center;
      justify-content: center;
    }
  }
  .vacancies {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include lg {
      gap: 16px;
    }
  }

}